@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%; /* #0a0a0a */
    --foreground: 210 20% 98%; /* #f8fafc */
    --primary: 286 64% 15%; /* #310e3d */
    --primary-foreground: 210 20% 98%; /* Using foreground for primary-foreground */
    --secondary: 30 98% 50%; /* #fd8303 */
    --secondary-foreground: 210 20% 98%; /* Using foreground for secondary-foreground */
    --card: 286 64% 15%; /* approximation of rgba(49, 14, 61, 0.3) for background with full opacity */
    --card-foreground: 210 20% 98%; /* Using foreground for card-foreground */
    --border: 286 64% 15%; /* approximation of rgba(86, 7, 70, 0.3) for background with full opacity */
    --input: 0 0% 4%; /* #0a0a0a */
    --ring: 286 64% 15%; /* Using primary for ring */
    --radius: 0.5rem;
  }
}